@{
    ViewData["Title"] = "Admin";
}
<div class="text-center">
    <h1 class="display-4 text-center mt-5">Você está logado / Seja Bem-Vindo</h1>

    <img class="w-25 mt-5" src="https://thenounproject.com/api/private/icons/4415238/edit/?backgroundShape=SQUARE&backgroundShapeColor=%23000000&backgroundShapeOpacity=0&exportSize=752&flipX=false&flipY=false&foregroundColor=%23000000&foregroundOpacity=1&imageFormat=png&rotation=0">
</div>