@{
    ViewData["Title"] = "Login";
}
<h1 class="fw-semibold text-center">@ViewData["Title"]</h1>

<p class="text-center">This is the Login Page</p>

<div class="d-flex mx-auto flex-column justify-content-center align-items-center row gap-3">
    <input class="col-10 col-lg-3" placeholder="User">
    <input class="col-10 col-lg-3" placeholder="Password">

    <button class="btn border border-1 border-dark col-2 col-lg-1 mx-auto mt-3">Enter</button>
</div>