@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center d-flex flex-column">
    <h1 class="display-4">Loja de Carros</h1>
    <p class="fs-4">Bem-vindo à nossa loja de carros! Oferecemos uma ampla variedade de veículos de qualidade para atender às suas
        necessidades. Nossa equipe experiente está pronta para ajudar você a encontrar o carro perfeito. Visite-nos hoje
        e descubra o seu próximo veículo dos sonhos.<a class="text-decoration-none" href="/Login">  Faça Login para ver os carros disponíveis</a></p>

        <img class="w-50 mx-auto rounded" src="https://cdn.buttercms.com/nhfxlmtQ9qoi4BtyoKoQ">
</div>
